<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moe Blog</title>
</head>
<body>
<!-- name of website at top of the page and connect with home page link when you click it -->
<h1><a href="/">Moe Blog</a></h1>

<!-- add for loop to show posts title,published_date, and text-->
{% for post in posts %}
     <div>
         <p>Published: {{ post.published_date }}</p>
         <h1><a href="">{{ post.title }}</a> </h1>
         <!-- add |linebreaksbr to break lines in your text to make it nicer -->
         <p>{{ post.text|linebreaksbr }}</p>
     </div>
{% endfor %}

</body>
</html>