<!-- to extend the code that have all the styling from base.html-->
{% extends 'blog/base.html' %}

<!-- change the title to Home -->
{% block title %}Home{% endblock %}

<!-- to put content of this page inside base.html -->
{% block content %}
    <!-- add for loop to show posts title,published_date, and text-->
    {% for post in posts %}
    <div class="post">
        <div class="date">
            <p>Published: {{ post.published_date }}</p>
        </div>
        <!-- add link to take you to the certain post you click in  -->
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </h1>
        <!-- add |linebreaksbr to break lines in your text to make it nicer -->
        <!-- use '|truncatechars:' to show certine numbers of chars from post text -->
        <p>{{ post.text|truncatechars:10|linebreaksbr }}</p>

        <!-- add link under each post to access comments, '{{ post.approved_comments.count }}' use method we created in models.py to show numbers of approved comments  -->
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>

    </div>
    {% endfor %}
{% endblock %}